<app-admin-navbar></app-admin-navbar>

<div class="container">
    <div class="row ">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <table class="table align-middle text-center bg-white mt-5 table-hover shadow-lg caption-top">
                <caption class="bg-light text-center"><h3>All Leaves</h3></caption>
                <thead class="bg-light shadow-sm">
                    <tr>
                        <th>Title</th>
                        <th>Remarks</th>
                        <th>Type</th>
                        <th>From</th>
                        <th>To</th>
                        <th>AppliedOn</th>
                        <th>AppliedBy</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody >
                    <tr class="p-5 m-5" *ngFor="let i of data">
                        <td>{{i.title}}</td>
                        <td>{{i.remarks}}</td>
                        <td>{{i.type}}</td>
                        <td>{{i.from_date}}</td>
                        <td>{{i.to_date}}</td>
                        <td>{{i.applied_date}}</td>
                        <td>{{i.name}}</td>
                        <td><span 
                            [ngClass]="{
                                'bg-success':i.status=='accepted',
                                'bg-warning':i.status=='pending',
                                'bg-danger':i.status=='reject'
                            }" class="badge rounded-pill d-inline">{{i.status}}</span></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 