<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="#">NestDigitalApp</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Employee
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/addEmp">Add</a></li>
              <li><a class="dropdown-item" routerLink="/viewEmp">View</a></li>
              <li><a class="dropdown-item" routerLink="/searchEmp">Search</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                SecurityGuard
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/addSecGuard">Add</a></li>
              <li><a class="dropdown-item" routerLink="/viewSecGuard">View</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link active dropdown-toggle" routerLink="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Leave
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" routerLink="/viewAllLeaves">View All</a></li>
              <li><a class="dropdown-item" routerLink="/applyLeave">Pending Leaves</a></li>
            </ul>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link active" aria-current="page" routerLink="/">Logs</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>