<app-admin-navbar></app-admin-navbar>

<div class="container">
    <div class="row ">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h4>Employee Logs</h4>
            <table class="table table-striped text-center mt-3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>EntryTime</th>
                        <th>ExitTime</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of employeelogs">
                        <td>{{i.name}}</td>
                        <td>{{i.date}}</td>
                        <td>{{i.entry_time}}</td>
                        <td>{{i.exit_time}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <h4>Visitor Logs</h4>
            <table class="table table-striped text-center mt-3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Purpose</th>
                        <th>Whom To Met</th>
                        <th>EntryTime</th>
                        <th>ExitTime</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let i of visitorlogs">
                        <td>{{i.name}}</td>
                        <td>{{i.purpose}}</td>
                        <td>{{i.whom_to_meet}}</td>
                        <td>{{i.entry_time}}</td>
                        <td>{{i.exit_time}}</td>
                        <td>{{i.date}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div> 