<app-employee-navbar></app-employee-navbar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3 m-3">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Title</label>
                    <input name="title" [(ngModel)]="title" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Remarks</label>
                    <input name="remarks" [(ngModel)]="remarks" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Leave From:</label>
                    <input name="fromDate" [(ngModel)]="fromDate" type="date" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Leave To:</label>
                    <input name="toDate" [(ngModel)]="toDate" type="date" class="form-control">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label" >Type</label>
                    <select class="form-select" aria-label="Default select example" name="type" [(ngModel)]="type">
                        <option selected>Leave Types</option>
                        <option value="casual">Casual</option>
                        <option value="sick">Sick</option>
                        <option value="special">Special</option>
                      </select>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="readValues()" class="btn btn-dark">Apply</button>
                </div>
            </div>
        </div>
    </div>
</div>
